:root {
    --black: #222;
    --blue: #11A;
    --white-background: #FFF;
    --white-text: #AAA;

    --title-height: 3rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    box-sizing: border-box;
}

/* || General Style */
body {
    color: var(--black);
    background-color: var(--white-background);
}

.container {
    margin-left: 0.5rem;
    margin-right: 0.3rem;
}

/* || Title */
.title {
    width: 100%;
    background-color: var(--blue);
    color: var(--white-text);
    height: var(--title-height);
    margin-bottom: 0.5rem;
}

.title * {
    float: left;
    line-height: var(--title-height);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.title-main {
    font-size: 2rem;
}

.title-sub {
    font-size: 1.5rem;
    float: right;
}

/* || Typography */
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

p {
    padding: 0.3rem;
}